.sa {
  color: #503200;
  font-family: serif;
  font-weight: bold;
}

.da {
  background-color: #ffffff;
  margin: 1rem;
  padding: 4px;
}

.wa {
  color: #503200;
  text-align: center;
  font-weight: bold;
  font-family: serif, 'arial black';
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}

.qa {
  text-align: center;
  margin: 1.5rem;
}

.placeholder {
  color: #b34c4c;
}

.namae {
  color: #503200;
  text-align: center;
  inline-size: 100%;
  font-size: 20px;
  border: 3px solid #b38a4c;
  height: 40px;
  font-family: serif;
  font-weight: bold;
  border-radius: 7px;
}

.gakunen {
  color: #503200;
  text-align: center;
  font-size: 20px;
  text-align-last: center;
  border: 3px solid #b38a4c;
  font-family: serif;
  font-weight: bold;
  border-radius: 7px;
}

.hi {
  color: #503200;
  text-align: center;
  inline-size: 50%;
  font-size: 20px;
  border: 3px solid #b38a4c;
  font-family: serif;
  font-weight: bold;
  border-radius: 7px;
}

.hizukee {
  color: #503200;
  display: inline-block;
  text-align: center;
  inline-size: 50%;
  font-size: 20px;
  border: 3px solid #b38a4c;
  font-family: serif;
  font-weight: bold;
  border-radius: 7px;
}

.kyouka {
  color: #503200;
  text-align: center;
  font-size: 20px;
  border: 3px solid #b38a4c;
  width: '100%';
  font-family: serif;
  font-weight: bold;
  border-radius: 7px;
}

.riyuu {
  color: #503200;
  text-align: center;
  font-size: 20px;
  border: 3px solid #b38a4c;
  inline-size: 100%;
  height: 40px;
  font-family: serif;
  font-weight: bold;
  border-radius: 7px;
}

.button {
  display: inline-block;
  font-size: 18pt;
  text-align: center;
  cursor: pointer;
  margin-top: 12px;
  padding: 12px 40px;
  background: #da8f18;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid #da8f18;
  border-radius: 7px;
}